.three-book-list {
  display: flex;
  margin: 20px auto;
}

.three-book-list button {
  margin: 0 auto;
}

.three-book-list-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.bookcard-button {
  display: flex;
  align-content: center;
}

.card-title:hover {
  transform: scale(1.05);
}

.nav h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
}

.name {
  font-family: 'Princess Sofia', cursive;
  padding: 15px;
}

.tinted-image {
  position: absolute;
  top: 60%;
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
  background: 
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.95) 450px, 
    rgba(0, 0, 0, 0)
  ),
  url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.nav-image h5 {
  position: absolute;
  bottom: -270px;
  left: 15px;
  color: white;
  z-index: 80;
  width: 45%;
  line-height: 1.5;
  padding: 20px;
}