.three-book-list {
  display: flex;
  margin: 20px auto;
}

.three-book-list button {
  margin: 0 auto;
}

.three-book-list-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.bookcard-button {
  display: flex;
  align-content: center;
}

.card-title:hover {
  transform: scale(1.05);
}

/* .nav-navigation {
  margin: 0 auto;
} */

.nav {
  position: relative;
  text-align: center;
  color: white;
}

.nav h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
}

.name {
  /* display: flex;
  justify-content: center; */
  font-family: 'Princess Sofia', cursive;
  padding: 15px;
}